<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.orient.otc.quote.mapper.TradeMngMapper">
    <select id="selectProfitLossByClient" resultType="org.orient.otc.quote.vo.trade.TradeProfitLossByClientVO">
        select tm.clientId as clientId
        ,sum(-tcm.profitLoss) as profitLoss
        from trade_mng tm
        inner join trade_close_mng tcm on tm.tradeCode =tcm.tradeCode
        where 1=1
        <if test='clientIdList!=null and clientIdList.size()>0'>
            and tm.clientId in
            <foreach item='item' index='index' collection='clientIdList' open='(' separator=',' close=')'>
                #{item}
            </foreach>
        </if>
        <if test='startDate!=null'>
            and tcm.closeDate &gt;= #{startDate}
        </if>
        <if test='endDate!=null'>
            and tcm.closeDate &lt;= #{endDate}
        </if>
        group by tm.clientId
    </select>

    <select id="selectCloseTradeByDateAndClient" resultType="org.orient.otc.quote.vo.trade.HistoryTradeMngVO">
        select tm.*
             ,snow.alreadyKnockedIn,snow.bonusRateStructValue,snow.bonusRateAnnulized,snow.knockinBarrierValue,snow.knockinBarrierRelative
             ,snow.strikeOnceKnockedinRelative,snow.strikeOnceKnockedinValue,snow.strike2OnceKnockedinRelative,snow.strike2OnceKnockedinValue
        ,tcm.closeDate,tcm.closeEntryPrice,tcm.closePrice,tcm.closeVol,tcm.closeVolume,tcm.closeTotalAmount,tcm.profitLoss
        from trade_mng tm
        inner join trade_close_mng tcm on tm.tradeCode =tcm.tradeCode and tcm.isDeleted =0 and  tm.isDeleted =0
        left join trade_snowball_option snow on tm.id=snow.tradeId
        where tcm.isDeleted =0 and  tm.isDeleted =0
        <if test='clientIdList!=null and clientIdList.size()>0'>
            and tm.clientId in
            <foreach item='item' index='index' collection='clientIdList' open='(' separator=',' close=')'>
                #{item}
            </foreach>
        </if>
        <if test='startDate!=null'>
            and tcm.closeDate &gt;= #{startDate}
        </if>
        <if test='endDate!=null'>
            and tcm.closeDate &lt;= #{endDate}
        </if>
        order by tcm.closeDate,tm.tradeDate desc
    </select>

    <select id="selectTradeMngByDaily" resultType="org.orient.otc.quote.vo.daily.TradeMngByDailyVO">
        select tm.tradeCode,tm.clientId
        ,tm.tradeDate,tm.maturityDate,tm.margin as initMargin,tso.useMargin,tm.buyOrSell,tm.underlyingCode
        ,tm.optionType,tm.optionCombType,tm.settleType,tm.callOrPut,tm.exerciseType,tm.entryPrice,tm.strike
        ,tm.tradeVolume,tm.notionalPrincipal,tm.totalAmount,tm.tradeState,tm.delta
        ,tcm.id as closeId,tcm.closeDate
        ,tcm.closeEntryPrice,tcm.closeVolume,tcm.closeTotalAmount,tcm.closeNotionalPrincipal,tcm.delta as closeDelta
        from trade_close_mng tcm
        inner join trade_mng tm on tm.tradeCode=tcm.tradeCode
        left join trade_snowball_option tso on tm.id =tso.tradeId
        where tm.isDeleted=0 and tcm.isDeleted=0
        <if test='queryDate!=null'>
            and tcm.closeDate = #{queryDate}
        </if>
        <if test='underlyingCodeList!=null and underlyingCodeList.size()>0'>
            and tm.underlyingCode  in
            <foreach item='item' index='index' collection='underlyingCodeList' open='(' separator=',' close=')'>
                #{item}
            </foreach>
        </if>
        <if test='clientIdList!=null and clientIdList.size()>0'>
            and tm.clientId not in
            <foreach item='item' index='index' collection='clientIdList' open='(' separator=',' close=')'>
                #{item}
            </foreach>
        </if>
        union all
        select tm.tradeCode,tm.clientId
        ,tm.tradeDate,tm.maturityDate,tm.margin as initMargin,tso.useMargin,tm.buyOrSell,tm.underlyingCode
       ,tm.optionType,tm.optionCombType,tm.settleType,tm.callOrPut,tm.exerciseType,tm.entryPrice,tm.strike
        ,tm.tradeVolume,tm.notionalPrincipal,tm.totalAmount,tm.tradeState,tm.delta
        ,null,null,null,null,null,null,null
        from trade_mng tm
        left join otc_quote.trade_snowball_option tso on tm.id =tso.tradeId
        where tm.isDeleted=0
        <if test='underlyingCodeList!=null and underlyingCodeList.size()>0'>
            and tm.underlyingCode  in
            <foreach item='item' index='index' collection='underlyingCodeList' open='(' separator=',' close=')'>
                #{item}
            </foreach>
        </if>
        <if test='clientIdList!=null and clientIdList.size()>0'>
            and tm.clientId not in
            <foreach item='item' index='index' collection='clientIdList' open='(' separator=',' close=')'>
                #{item}
            </foreach>
        </if>
        <if test='queryDate!=null'>
            and tm.tradeDate = #{queryDate}
        </if>
    </select>

    <select id="selectTradeConfirmBook" resultType="org.orient.otc.quote.vo.trade.TradeConfirmBookVO"
            parameterType="org.orient.otc.quote.dto.trade.TradeConfirmBookQueryDTO">
        select tm.id
        , tm.tradeState
        , tm.tradeCode
        , tm.underlyingCode
        , tm.optionType
        , tm.tradeDate
        , tm.productStartDate
        , tm.maturityDate
        , tm.optionCombType
        , tm.clientId
        , tm.assetId
        , tm.traderId
        , tm.tradeVolume
        , tm.notionalPrincipal
        , tm.creatorId       as tradeAddId
        , tm.createTime      as tradeAddTime
        , tm.tradeState
        , tcr.creatorId
        , tcr.createTime
        , tcd.url           as tradeConfirmFilePath
        , tcr.contractCode   as contractCode
        , tcr.tradeClearCode as tradeConfirmCode
        from trade_mng tm
        left join trade_contract_rel tcr on tcr.tradeId = tm.id and tm.tradeCode = tcr.tradeCode and tcr.fileType='tradeConfirm'
        left join trade_contract_document tcd on tcr.fileId = tcd.id
        where tm.isDeleted = 0
        and (tcr.isDeleted = 0 or tcr.isDeleted is null)
        and (tcd.isDeleted = 0 or tcd.isDeleted is null)
        <if test='dto.tradeCode!=null and dto.tradeCode!=""'>
            and tm.tradeCode = #{dto.tradeCode}
        </if>
        <if test='dto.contractCode!=null and dto.contractCode!=""'>
            and tcr.contractCode = #{dto.contractCode}
        </if>
        <if test='dto.assetIdList!=null and dto.assetIdList.size()>0'>
            and tm.assetId in
            <foreach item='item' index='index' collection='dto.assetIdList' open='(' separator=',' close=')'>
                #{item}
            </foreach>
        </if>
        <if test='dto.assetGroupList!=null and dto.assetGroupList.size()>0'>
            and tm.assetId in
            <foreach item='item' index='index' collection='dto.assetGroupList' open='(' separator=',' close=')'>
                #{item}
            </foreach>
        </if>
        <if test='dto.clientIdList!=null and dto.clientIdList.size()>0'>
            and tm.clientId not in
            <foreach item='item' index='index' collection='dto.clientIdList' open='(' separator=',' close=')'>
                #{item}
            </foreach>
        </if>
        <if test='dto.traderIdList!=null and dto.traderIdList.size()>0'>
            and tm.traderId in
            <foreach item='item' index='index' collection='dto.traderIdList' open='(' separator=',' close=')'>
                #{item}
            </foreach>
        </if>
        <if test='dto.optionTypeList!=null and dto.optionTypeList.size()>0'>
            and tm.optionType in
            <foreach item='item' index='index' collection='dto.optionTypeList' open='(' separator=',' close=')'>
                #{item}
            </foreach>
        </if>
        <if test='dto.tradeStateList!=null and dto.tradeStateList.size()>0'>
            and tm.tradeState in
            <foreach item='item' index='index' collection='dto.tradeStateList' open='(' separator=',' close=')'>
                #{item}
            </foreach>
        </if>
        <if test='dto.underlyingCodeList!=null and dto.underlyingCodeList.size()>0'>
            and tm.underlyingCode in
            <foreach item='item' index='index' collection='dto.underlyingCodeList' open='(' separator=',' close=')'>
                #{item}
            </foreach>
        </if>
        <if test='dto.buyOrSell != null '>
            and tm.buyOrSell = #{dto.buyOrSell}
        </if>
        <if test='dto.startTradeDate!=null'>
            and tm.tradeDate &gt;= #{dto.startTradeDate}
        </if>
        <if test='dto.endTradeDate!=null'>
            and tm.tradeDate &lt;= #{dto.endTradeDate}
        </if>
        <if test='dto.startMaturityDate!=null'>
            and tm.maturityDate &gt;= #{dto.startMaturityDate}
        </if>
        <if test='dto.endMaturityDate!=null'>
            and tm.maturityDate &lt;= #{dto.endMaturityDate}
        </if>
        order by tm.createTime desc
    </select>
</mapper>
